<footer class="page-footer font-small blue pt-4">
  <div class="container">
    <div class="footer-copyright py-3 bo">
      <img src="../assets/img/logoaval.png" alt="" height="30" class="d-inline-block align-text-top">
    </div>
  </div>
</footer>
