<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler bo" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi bi-arrow-left"></i>
      </button>
      <img src="../assets/img/logo.png" alt="" height="60" class="d-inline-block align-text-top">
      <button class="navbar-toggler bo" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span><i class="bi bi-list"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle data" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="d-inline-flex p-2 bd-highlight">
                  <div class="text-user">
                    <span class="name-user">{{ nombre }}</span>
                    <br>
                    Gerente de Jubilación
                  </div>
                  <img src="../assets/img/img_avatar.png" class="rounded-circle" alt="" width="40" height="40"> 
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
              <a class="dropdown-item" href="#">Mi cuenta</a>
              <a class="dropdown-item" href="#">Cerrar sesión</a>
            </div>
          </li> 
        </ul>
      </div>
    </div>
  </nav>
