.text-user {
    text-align: right;
    font-size: 0.75555rem;
    margin-right: 1em;
}

.name-user {
    font-weight: 800;
}

#navbarDropdownMenuLink-4 {
    padding: 0;
}

.dropdown-toggle.data::after {
    vertical-align: -0.6555555em;
}

.navbar-toggler.bo {
    border: none;
}

.navbar .navbar-toggler span {
    color: red;
}

.bi.bi-arrow-left {
    color: #1c93d1;
}

.bi.bi-list {
    color: #1c93d1;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    border: 1px solid #dddada;
}

@media (max-width: 374px) {
    nav.navbar.navbar-expand-lg.navbar-light.bg-light {
        padding: .5rem;
    }
}