<div class="container bo">
    <section>
        <div class="row text-container">
            <div class="arrow-desktop">
                <button class="navbar-toggler bo" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="bi bi-arrow-left"></i>
                </button>
            </div>
            <div class="col col-12">
                <h2 class="main-name">{{data.nombre}}</h2>
            </div>
            <div class="col col-12">
                <h3 class="main-nit">NIT: {{ nitSplit }}</h3>
            </div>
            <div class="col col-12 segment">
                <h4 class="main-data cape">Capa: {{ data.capa }}</h4>
                <span class="main-data point"></span>
                <h4 class="main-data">Segmento: {{ data.segmento }}</h4>
            </div>
        </div>
    </section>
    <section>
        <nav>
            <div class="nav nav-tabs bo" id="nav-tab" role="tablist">
              <a class="nav-item nav-link bo active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Operación</a>
              <a class="nav-item nav-link bo disabled " id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Indicadores</a>
              <a class="nav-item nav-link bo disabled" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Información cliente</a>
            </div>
        </nav>
        <div class="row alert-container">
            <div class="col col-12 alert">
                <h4 class="alert-data">Indique la línea de crédito que quiere reconsiderar</h4>
            </div>
        </div>
        <div class="d-flex justify-content-center bo">
                <div class="card link-card bo" >
                    <div class="card-body bo">
                        <div class="svg-bo">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-bank" viewBox="0 0 16 16">
                                <path d="M8 .95 14.61 4h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.379l.5 2A.5.5 0 0 1 15.5 17H.5a.5.5 0 0 1-.485-.621l.5-2A.5.5 0 0 1 1 14V7H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 4h.89L8 .95zM3.776 4h8.447L8 2.05 3.776 4zM2 7v7h1V7H2zm2 0v7h2.5V7H4zm3.5 0v7h1V7h-1zm2 0v7H12V7H9.5zM13 7v7h1V7h-1zm2-1V5H1v1h14zm-.39 9H1.39l-.25 1h13.72l-.25-1z"/>
                            </svg>
                        </div>
                        <h2>Cartera Ordinaria</h2>
                    </div>
                    <div class="card-footer text-muted">
                        Continuar
                    </div>
                </div>
                <div class="card link-card bo">
                    <div class="card-body bo">
                        <div class="svg-bo">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-shop-window" viewBox="0 0 16 16">
                                <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h12V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zm2 .5a.5.5 0 0 1 .5.5V13h8V9.5a.5.5 0 0 1 1 0V13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V9.5a.5.5 0 0 1 .5-.5z"/>
                            </svg>
                        </div>
                        <h2>Leasing</h2>
                    </div>
                    <div class="card-footer text-muted">
                        Continuar
                    </div>
                </div>
        </div>
    </section>
    <br />
    <section>
        <div class="alert alert-warning d-flex bd-highlight" role="alert">
            <div class="p-2 bd-highlight bo">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                </svg>
            </div>
            <div class="p-2 flex-grow-1 bd-highlight alert-pop">
                Las demás lineas de crédito no estarán disponibles por el momento
            </div>
        </div>
    </section>
</div>
