.container.bo {
    width: 80%;
    margin: 0 auto;
    margin-top: 2em;
}

.main-name {
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center;
}


.main-nit {
    font-weight: 300;
    font-size: 1.2rem;
    color: rgb(184, 177, 177);
    text-align: center;
}

.segment {
    text-align: center;
    display: flex;
    justify-content: center;
}

.segment h4 {
    font-size: 1.2rem;
}


.alert-data {
    font-size: 1.1rem;
    font-weight: 600;
    color: #1c93d1;
    text-align: justify;
}

.options-container {
    width: 80%;
    margin: 0 auto;
}

.main-data {
    margin-right: 0.5rem;
}

.main-data.point::after {
    content: ".";
    color: #1c93d1;
    position: absolute;
    top: -0.5em;
    font-weight: bolder;
    font-size: 1.5em;
    margin-left: -0.155555em;
}

.bi.bi-arrow-left {
    color: #1c93d1;
}

.nav-tabs.bo {

    display: flex;
    flex-wrap: wrap;

    .nav-link {
        margin-bottom: 0;
        border: none;
        padding: 1em 1em;
    }
}

.nav-item.nav-link.bo {
    flex: 1 1 26%;
    flex-wrap: nowrap;
}

.nav-tabs.bo .nav-link.active {
    border-bottom: 4px solid #007bff;
    font-weight: bolder;
}

.card.link-card.bo {
    margin: 0.25em;
    cursor: pointer;
    border: 1px solid #f4f4f4;

    .card-body.bo {
        padding: 14% 14% 10%;
        width: 15rem;
    
        h2 {
            text-align: center;
            color: #e6e0e0;
            margin-top: 20px;
            font-size: 1.3rem;
            font-weight: 500;
            transition: 1s ease;
        }

        .svg-bo{
            color: #e6e0e0;
            padding: 14%;
            transition: 1s ease;
        }
    }

    .card-footer.text-muted {
        text-align: center;
        color: #e6e0e0 !important;
        border-top: #f4f4f4;
        font-size: 1rem;
        transition: 1s ease;
    }
}

.card.link-card.bo:hover {
    border: 1px solid #e6e0e0;
}

.card.link-card.bo:hover .card-body.bo .svg-bo {
    color:  #1c93d1;
}

.card.link-card.bo:hover .card-body.bo h2 {
    color:  #000;
}

.card.link-card.bo:hover .card-footer.text-muted {
    border-top: #e6e0e0;
    color: #1c93d1 !important;
    background-color: #ececec;
}

.alert-pop {
    text-align: justify;
    font-size: 0.6755555em;
    margin: 0.5rem;
}

.p-2.bd-highlight.bo {
    border-right: 1px solid;
    padding: 0.7555555em !important;
}

@media (max-width: 991px) {
    .arrow-desktop {
        display: none;
    }
}

@media (max-width: 769px) {

    .container.bo {
        width: 80%;
    }

    .card.link-card.bo .card-body.bo {
        width: 12rem;
    }

    .options-container {
        width: 100%;
    }

    .alert-pop {
        margin: 0.6rem;
    }

    .link-card h4 {
        font-size: 1em;
    }

    .svg-bo {
        padding: 1.75555555555rem;
    }

    .card.link-card.bo .card-body.bo h2 {
        font-size: 1.1rem;
        font-weight: 500;
        margin-top: 0px;
    }
}

@media (max-width: 600px) {

    .container.bo {
        width: 100%;
        margin-top: 0.255555rem;
    }

    .card.link-card.bo .card-body.bo {
        width: 10rem;
    }

    .card.link-card.bo .card-body.bo h2 {
        font-size: 0.855555rem;
        font-weight: 500;
    }

    .card.link-card.bo .card-footer.text-muted {
        font-size: 0.855555rem;
    }

    .alert-pop {
        margin: 0.2rem;
    }

    .text-container {
        padding: 2em;
        border-bottom: 1px solid #bdb7b7;
        width: 98%;
        margin: 0 auto;
    }

    div#nav-tab {
        display: none;
    }

    .alert-data {
        font-size: 0.85555rem;
    }
}

@media (max-width: 385px) {

    .container.bo {
        width: 100%;
    }

    .card.link-card.bo .card-body.bo {
        width: 9rem;
    }

    .card.link-card.bo .card-body.bo .svg-bo{
        padding: 20%;
    }

    .card.link-card.bo .card-body.bo {
        padding: 7% 7% 7%;
        width: 7rem;
    }

    .card.link-card.bo .card-body.bo h2 {
        font-size: 0.755555rem;
        font-weight: 500;
    }

    .card.link-card.bo .card-footer.text-muted {
        font-size: 0.755555rem;
    }

    .alert-pop {
        margin: 0.1555555rem;
    }

    .main-name {
        font-size: 1.5rem;
    }
}
  