/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";

@font-face {
    font-family: Gelion;
    src: url(assets/font/Gelion-Regular.ttf) format("opentype");
}

* {

    font-family: 'Gelion', 'arial', sans-serif;
}